@use "../Colors";

// .image {
//     // min-height: 100vh;
//     // position: relative;
//     // padding-bottom: 100px;
// }

.card-bg {
    background-color: rgb(186 232 219 / 0.6);
}

.comment-bg {
    background-color: rgba(209, 238, 230, 0.794);
}
#file-upload-button {
    background-color: Colors.$celeste;
}

.grid-ops {
    grid-auto-rows: 1fr;
}

.snap-mandatory {
    border-bottom-right-radius: 0px;
}
.comment-section::-webkit-scrollbar {
    display: none;
}
.comment-section {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
textarea{
    resize: none;
}
// #date {
//     color: Colors.$persian-green;
// }
// #date:focus {

// }
// #field-container input[type="text"]{
//     background-color: Colors.$celeste;
//     border-color: Colors.$persian-green;
// }

// input:focus{
//     background-color: red;

// }
