@use "../Colors";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

form {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

button[type="submit"] {
  margin-top: 6px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  width: 100%;
}

.text-field {
  width: 100%;
}

.label {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

.input {
  font-size: 16px;
  color: #a12626;
  box-shadow: none !important;
}

.input:focus {
  // border-color: #2196f3;
 box-shadow: none !important;
  // box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}

[type="text"]:focus{
  box-shadow: none;
}
textarea:focus{
  box-shadow: none;
}
input:focus{
  box-shadow: none;
}
.ColorText{
  
  color : Colors.$celeste;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  

}
.Text{
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}
.goDown{
  color : Colors.$celeste;
  
}
.titleTour{
  color: white;
  font-Size: 4.5rem;
  font-family: 'Nunito', sans-serif;

}
.goDownsearch{
 
  color : Colors.$celeste;

}
.toura label{
  color:Colors.$celeste;
  font-weight: bold;
  
  
}
.toura :hover{
  border-color:white;


}
.toura renderInput:hover{
  border-color:"rgba(186, 232, 219, 0.138)";
  
}
